// Could be used for layout styles

img {
  width: 100%;
  height: auto;
}

section.container {
  width: 100%;
  margin-top: 6em;
}

.dashboard {
  max-width: 960px;
  margin: 0 auto;
  background-color: white;
  color: $text;

  @include breakpoint(large up) {
    height: 720px;
    overflow: visible;
    // columns: 480px 2;
    // column-fill: balance;
    // column-gap: 0;
    // page-break-inside: avoid;
    //            break-inside: avoid;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
    grid-gap: 0;
    justify-items: stretch;
    align-items: stretch;
    justify-content: stretch;
    align-content: stretch;
  }


  & > div {
    width: 50%;
    background-color: $highlight-bg;
    @include breakpoint(large up) {
      // float: left;
      // @extend .clearfix;
    }

  }
  & > div:nth-child(odd) {
    background-color: $highlight;
  }
  .two-by-two {
    grid-column: span 2;
    grid-row: span 2;
    width: 480px;
    height: 480px;
  }
  .two-by-one {
    grid-column: span 2;
    grid-row: span 1;
    height: 240px;
    width: 480px;
  }
  .one-by-one {
    grid-column: span 1;
    grid-row: span 1;
    width: 240px;
    height: 240px;

  }
}

.dashboard-header {
  max-width: 960px;
  margin: 0 auto;
  background-color: brown;
  color: white;
}
