/* BOX MODEL SETTING FOR ALL ELEMENTS BY DEFAULT
THIS IS BETTER THAN DEFAULT, YOU SHOULD ALWAYS USE THIS:
*/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

/* END BOX MODEL SETTINGS */
body {
  font-size: 16px;
  font-family: "Open Sans", Helvetica, Roboto, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #343741;
  color: white; }

.clearfix {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible; }
  100% {
    opacity: 0;
    visibility: hidden; } }

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible; }
  100% {
    opacity: 0;
    visibility: hidden; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }

p {
  color: #343741; }

a {
  color: #b7006a;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease; }
  a:hover {
    color: #980058; }

.button-reset {
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  vertical-align: baseline;
  border-radius: 0; }

button, a.button {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  display: block;
  background-color: #b7006a;
  color: white;
  text-align: center;
  border-radius: 0;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  line-height: 1.2em;
  max-width: 280px; }
  button:hover, a.button:hover {
    background-color: #980058; }

img {
  width: 100%;
  height: auto; }

section.container {
  width: 100%;
  margin-top: 6em; }

.dashboard {
  max-width: 960px;
  margin: 0 auto;
  background-color: white;
  color: #343741; }
  @media screen and (min-width: 64em) {
    .dashboard {
      height: 720px;
      overflow: visible;
      display: grid;
      grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
      grid-gap: 0;
      justify-items: stretch;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
      justify-content: stretch;
      -ms-flex-line-pack: stretch;
      align-content: stretch; } }
  .dashboard > div {
    width: 50%;
    background-color: #eff4c1; }
  .dashboard > div:nth-child(odd) {
    background-color: #cbdb2f; }
  .dashboard .two-by-two {
    grid-column: span 2;
    grid-row: span 2;
    width: 480px;
    height: 480px; }
  .dashboard .two-by-one {
    grid-column: span 2;
    grid-row: span 1;
    height: 240px;
    width: 480px; }
  .dashboard .one-by-one {
    grid-column: span 1;
    grid-row: span 1;
    width: 240px;
    height: 240px; }

.dashboard-header {
  max-width: 960px;
  margin: 0 auto;
  background-color: brown;
  color: white; }
